[client]
port		= {{ mariadb_client_port }}
socket		= {{ mariadb_sock }}
default-character-set=utf8

[mysqld]
character_set_server=utf8
collation-server=utf8_bin
init_connect="SET NAMES utf8 collate utf8_bin"
port		= {{ mariadb_ld_port }}
socket		= /var/lib/mysql/mysql.sock

innodb_file_per_table=1
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_buffer_pool_instances= {{ mariadb_innodb_buffer_pool_instances }}
innodb_flush_log_at_trx_commit = 0
innodb_log_file_size = 512M
innodb_log_files_in_group = 3

[server]

[galera]

[embedded]

[mariadb]

[mariadb-10.3]