[Unit]
Description=Kafka Daemon
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
EnvironmentFile=/etc/default/kafka
ExecStart={{ kafka_data_dir }}/bin/kafka-server-start.sh {{ kafka_conf_dir }}/config/server.properties
ExecStop=/home/kafka/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target