standby_mode='on'
primary_conninfo='host={{ master_ip_recovery }} port=5432 user={{ replic_user_name }} password={{ replic_user_pass }} application_name=walreceiver' 
trigger_file='{{ PGDATA }}/promote_to_master'